{% extends 'layout.html' %}

{% block body %}
  <h1>About This Project</h1>
  <p>The system will have the following requirements:
      <ul>
          <li> Register new Users on the System.</li>
          <li> There will be 2 or more types of users on the system each with different privileges.</li>
          <li> Reports should be generated and it is expected that the reports will combine data from a number of different tables.</li>
          <li> Use of highcharts to visualise the reports or site activity is required for the graphics </li>
    </ul>
{% endblock %}
