{% extends 'layout.html' %}

{% block body %}
  <h1>Basket</h1>
  <a class="btn btn-danger" href="/empty_basket"> Empty Basket</a>
  <hr>
  <table class="table table-striped" style="width: 75%">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="2" style="text-align: center">Modify</th>


    </tr>
    {% for product in products %}
      <tr>

        <td>{{product[1]}}</td>
        <td>&#8364; {{product[2]}}</td>
        <td>{{product[3]}}</td>
        <td>
           <div class="container">
                <div class="row">
                    <div style="width: 180px;">
                        <div class="input-group number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control text-center" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </td>
        <td>
          <form action="{{url_for('delete_product', id=product.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>



<script>
$(document).on('click', '.number-spinner button', function () {
	var btn = $(this),
		oldValue = btn.closest('.number-spinner').find('input').val().trim(),
		newVal = 0;

	if (btn.attr('data-dir') == 'up') {
		newVal = parseInt(oldValue) + 1;
	} else {
		if (oldValue > 1) {
			newVal = parseInt(oldValue) - 1;
		} else {
			newVal = 1;
		}
	}
	btn.closest('.number-spinner').find('input').val(newVal);
});
</script>

{% endblock %}