{% extends 'layout.html' %}

{% block body %}
    <h1>Fast Checkout</h1>

    <hr>

    <table id="data" class="table table-striped" style="width: 75%">
        <tr>
            <th style="min-width: 280px;">Product</th>
            <th style="min-width: 130px;">Price</th>
            <th style="max-width: 130px;text-align: center">Quantity</th>
            <th style="min-width: 130px;"></th>
        </tr>
        {% for product in products %} <!--[0]prod_id ,[1]prod_name, [2]qty, [3]prod_price-->
            <tr>
                <td>
                    <h4><a href="product/{{ product[0] }}">{{ product[1] }}</a></h4>
                </td>
                <td>
                    <h4 id="price">&#8364; {{ '%0.2f'| format(product[3]|float) }}</h4>
                </td>
                <td>
                    <div style="text-align: center;">

                        <!-- quantity -->
                      <h4>{{ product[2] }}</h4>


                    </div>
                </td>
                <td>

                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2" style="text-align: right;">
               <h3 style="margin-top: 5px;margin-right: 70px;">
                   Total: &#8364;
                    {{ '%0.2f'| format(basketStatus.totalValue|float) }}
               </h3>
            </td>

            <td>
                <a class="btn btn-primary btn-lg" href="/confirm_order" >Confirm Order</a>
            </td>
            <td>
                <a class="btn btn-danger btn-lg" href="/basket"> Cancel Order</a>
            </td>
        </tr>

    </table>



{% endblock %}