{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard</h1>
  <a class="btn btn-success" href="/add_product"> Add Product</a>
    <a class="btn btn-info" href="/high_charts"> HighCharts Visualisation from DB</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th colspan="2"  style="text-align: center;" >Modify Product</th>

    </tr>
    {% for product in products %}
      <tr>
        <td>{{product[0]}}</td>
        <td>{{product[1]}}</td>
        <td>&#8364; {{product[2]}}</td>
        <td>{{product[3]}}</td>
        <td><a href="edit_product/{{product[0]}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <a href="wip" class="btn btn-danger pull-right">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
