{% extends 'layout.html' %}


{% block body %}
    <h1>Products</h1>

    <hr>
    <smal>Max order size is 10 per product per order.</smal>
    <table class="table table-striped ">
        <tr>
            <th >Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th></th>
        </tr>
        {% for product in products %}
            <tr>
                <td style="width: 120px;">
                    <img alt="Product Image" src={{ url_for('static', filename = ""+product[4])}}  height="80"><img></a></li>
                </td>
                <td class="veryalign-middle" style="width:300px;padding-top: 30px;"><h4><a href="product/{{ product[0] }}">{{ product[1] }}</a></h4></td>
                <td class="align-middle" style="padding-top: 30px;"><h4>&#8364; {{ product[2] }}</h4></td>
                <td style="width:250px;padding-top: 30px;">
                    {% if  product[3]>9 %}
                        <h4> Max Order Possible</h4>
                    {% else %}
                        <h4>{{ product[3]}}</h4>
                    {% endif %}
                </td>
                <td style="padding-top: 30px;">
                    {% if session.logged_in %}
                        <a class="btn btn-primary" href="/add_to_basket/{{ product[0] }}/{{ product[3]}}">Add to Cart</a>
                     {% else %}
                        <a class="btn btn-info" disabled href="">Login to Buy</a>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}